<section>
    <h2>New AIO instance</h2>
    <p>
    {% if apach_port == '443' %}
        AIO is currently in "normal mode" which means that it handles the TLS proxying itself.
        This also means that it cannot be installed behind a web server or reverse proxy (like Apache, Nginx, Cloudflare Tunnel and else).
        If you want to run AIO behind a web server or reverse proxy (like Apache, Nginx, Cloudflare Tunnel and else), see the <strong><a href="https://github.com/nextcloud/all-in-one/blob/main/reverse-proxy.md">reverse proxy documentation</a></strong>.
        Advice: have a detailed look at the changed docker run command for AIO.
    {% else %}
        AIO is currently in "reverse proxy mode" which means that it can be installed behind a web server or reverse proxy (like Apache, Nginx, Cloudflare Tunnel and else) and does not do the TLS proxying itself.
    {% endif %}
    </p>
    <p>Please type the domain that will be used for Nextcloud below in order to create a new AIO instance.</p>
    {% if skip_domain_validation %}
        <p>
            <strong>Please note:</strong> The domain validation is disabled so any domain will be accepted here!
            Make sure you do not make a typo here as you will not be able to change it afterwards!
        </p>
    {% endif %}
    <form method="POST" action="/api/configuration" class="xhr">
        <input type="text" name="domain" value="{{ domain }}" placeholder="nextcloud.yourdomain.com"/>
        <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
        <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
        <input type="submit" value="Submit domain" />
    </form>
    {% if not skip_domain_validation %}
        <p>
            Make sure that this server is reachable on port 443 (port 443/tcp is open/forwarded in your firewall/router and 443/udp as well if you want to enable http3) and that you've correctly set up the DNS config for the domain that you enter (set the A record to your public ipv4-address and if you need ipv6, set the AAAA record to your public ipv6-address.
            A CNAME record is, of course, also possible).
            You should see hints on what went wrong in the top right corner if your domain is not accepted.
        </p>
        <details>
            <summary>Click here for further hints</summary>
            <p>If you do not have a domain yet, you can get one for free e.g. from duckdns.org and others.</p>
            <p>If you have a dynamic public IP-address, you can use e.g. <a href="https://ddclient.net/">DDclient</a> with a compatible domain provider for DNS updates.</p>
            <p>If you only want to install AIO locally without exposing it to the public internet or if you cannot do so, feel free to follow <a href="https://github.com/nextcloud/all-in-one/blob/main/local-instance.md">this documentation</a>.</p>
            <p>If you should be using Cloudflare Proxy for your domain, make sure to disable the Proxy feature temporarily as it might block the domain validation attempts.</p>
            {% if apach_port != '443' %}
                <p>If you run into issues with your domain being accepted, see <a href="https://github.com/nextcloud/all-in-one/blob/main/reverse-proxy.md#6-how-to-debug-things">these steps</a> for how to debug things.</p>
            {% endif %}
            <p><strong>Hint:</strong> If the domain validation fails but you are completely sure that you've configured everything correctly, you may skip the domain validation by following <a href="https://github.com/nextcloud/all-in-one#how-to-skip-the-domain-validation">this documentation</a>.</p>
        </details>
    {% endif %}
</section>
